# ================================
# Visual Studio cache
# ================================
.vs/
*.user
*.suo

# ================================
# Root build output
# ================================
/x64/
/Binaries/

# ================================
# Project build output
# ================================
**/Debug/
**/Release/
**/x64/
**/x86/

# ================================
# Intermediate files
# ================================
*.obj
*.pdb
*.ilk
*.pch
*.ipch
*.tlog
*.log

# ================================
# Executables
# ================================
*.exe
*.dll
*.exp

# ================================
# Shader cache
# ================================
*.cso

# ================================
# OS
# ================================
Thumbs.db
.DS_Store